<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <div>
        <!-- 如果只有一个复选框，则把此值转化为Boolean，如果true代表选中 -->
        <!-- 如果是多个checkbox，要增加value属性，并且数据类型是数组 -->
        <input type="checkbox" v-model="a">  {{a}}  <br/>
        爱好: 
        <input type="checkbox" value="游泳" v-model="b">游泳
        <input type="checkbox" value="滑雪" v-model="b">滑雪
        <input type="checkbox" value="睡觉" v-model="b">睡觉
        <input type="checkbox" value="看书" v-model="b">看书
        {{b}}
    </div>
</div>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    let vm= new Vue({
        el: "#app",
        data:{
            a: false,
            b:[]
        }
    })
</script> 
</body>
</html>